<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <!-- Link stylesheets here-->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/add-product.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <!-- Link scripts here-->
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/add_product.js"></script>
</head>

<body>
  <!-- Add the header -->
  <%- include('partials/_header') %>
  <br>

  <!-- Add the inputs -->
  <div class="text-field-container">
    <h2>Add New Product Listing</h2>

    <h5 id="error"></h5>
      <form id="addProductForm" action="/api/products" method="POST">
      <input class="text-field" id="name" type="text" name="name" placeholder="Product Name" required>
      <br>
      <input class="text-field" id="img" type="text" name="imgUrl" placeholder="Image URL" required>
      <br>
      <input class="text-field" id="price" type="text" name="price" placeholder="Price" required>
      <br>
      <input class="description-text-field" id="desc" type="textfield" name="info" placeholder="Product Description" required>
      <br>
      <button class="button" type="submit"> Add Product </button>
      <br>
    </form>
  </div>

</body>

</html>
