<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <!-- Link stylesheets here-->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/home.css"/>
  <link rel="stylesheet" href="/styles/filter.css"/>
  <link rel="stylesheet" href="/styles/layout.css" />

  <!-- Link scripts here-->
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/filter.js"></script>

</head>

<body>
  <!-- Add the header -->
  <%- include('partials/_header') %>
  <br>

  <!-- Add the inputs -->
  <div class="text-field-container">
    <h2> Filter Products By Price </h2>

    <h5 id="error"></h5>
      <form id="addProductForm" action="/api/filter/list" method="POST">
      <input class="text-field" id="maxId" type="text" name="max" placeholder="Maximum price" required>
      <br>
      <input class="text-field" id="minId" type="textfield" name="min" placeholder="Minimum price" required>
      <br>
      <button class="button" type="submit"> Apply </button>
      </form>
      <section></section>
    <ul id="products"></ul>
  </div>
</body>

</html>
