<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Link stylesheets here-->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/home.css" />
    <link rel="stylesheet" href="/styles/layout.css" />

    <!-- Link scripts here-->
    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/home.js"></script>
  </head>

  <body>
    <!-- Add the header -->
    <%- include('partials/_header') %>

    <!-- Add the slideshow -->
    <%- include('partials/_slideshow') %>

    <nav></nav>
    <header>
      <br>
      <h2 style="text-align: center;">Welcome to our online store!</h1>
    </header>

    <!-- Products will get inserted here -->
    <section></section>

    <br><br><br><br><br><br><br><br>

    <!--
    <button id="fetch-products">TEST BUTTON</button>
    <ul id="products"></ul>
    -->
  </body>
</html>
