main{
  display: flexbox;
  flex-flow: column wrap;
.messages-container{
  margin: 5%;
  .product-message{
    border: solid black;
    margin-bottom: 3%;
    img{
      width: 100px;
      height: 100px;
    }
  }



}
.new-message{
  margin: 5%;
  textarea{
    resize: none;
    width: 75vw;

  }
}


}

